* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background: rgb(12, 12, 104);
    height: 5rem;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    border:solid black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#user-score, #cmptr-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg {
    background: #700505;
    color: aliceblue;
    height: 2rem;
    line-height: 2rem;
    display: inline;
    border-radius: 2rem;
    padding: 1rem;
    /* font-size: 2rem; */
    
}

#reset-btn {
    padding: 1rem;
    font-size: 1rem;
    background: darkmagenta;
    color: aliceblue;
    border-radius: 1rem;
    border: none  ;
    margin-top: 1rem;
}
