*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellowgreen;
    min-height: 100vh;
}

h2{
    text-align: center;
}

.container{
    background: whitesmoke;
    padding: 2rem ;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select, input, button, .msg{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: .1rem solid gray;
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown p{
    font-size: 1.2rem ;
    padding-left: .5rem;
}

.select-container img{
    max-width: 2.5rem;
}

.select-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: .2rem;
}

.dropdown i{
    margin-top: 1rem;
    font-size: 1rem;
    
}

.dropdown select{
    font-size: 1rem;
    width: auto;

}

.msg{
    margin: 2rem 0 2rem 0;
    font-size: 1.2rem;
    border: 1px solid plum;
    text-align: center;
    
}

form button{
    background: plum;
    height: 2rem;
    font-size: 1rem ;
    cursor: pointer;
}